html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.logo{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: "Poppins",sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#Home nav ul li a{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    transition: .3s ease;
}
#Home nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ED9620;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 9px;
    transition: 0.3s ease;
}
#Home nav ul li a:hover{
    color: #ED9620;
}
#Home nav ul li a:hover::after{
    width: 100%;
}
#Home .hero .coffee-info h1{
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: "Pacifico",sans-serif;
    color: #ED9620;
}
#Home .hero .coffee-info h2{
    font-family: "Poppins",sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
#Home .hero .coffee-info p{
    font-family: "Poppins",sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #ddd;
}
#Home .hero .coffee-info .buttons :nth-child(1){
    padding: 12px 24px;
    background-color: #ED9620;
    color: #3B151C;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    transition: 0.3s ease;
}
#Home .hero .coffee-info .buttons :nth-child(2){
    padding: 12px 24px;
    background-color: transparent;
    color: white;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 32px;
    cursor: pointer;
    transition: 0.3s ease;
}
#Home .hero .coffee-info .buttons :nth-child(1):hover{
    background-color: #3B151C;
    color: #ED9620;
    border: 2px solid #ED9620;
}
#Home .hero .coffee-info .buttons :nth-child(2):hover{
    background-color: #ED9620;
    color: #3B151C;
}
#About .about-image img{
    width: 100%;
    height: auto;
}
#About .about-info .links a{
    color: #3B151C;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}
#About .about-info .links a:hover{
    color: #ED9620;
    scale: 1.2;
}
footer .links a{
    color: white;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}
footer .links a:hover{
    color: #ED9620 !important;
    scale: 1.2;
}
#Menu h2{
    font-family: "Poppins",sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
}
#Menu h2::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 4px;
    background-color: #ED9620;
    border-radius: 9px;
}
#menu,#close{
    display: none;
}
@media (max-width:1271px) {
    #Home .hero .coffee-info h1{
        font-size: 40px;
    }
    #Home .hero .coffee-info h2{
        font-size: 32px;
    }
    #Home .hero .coffee-info p{
        font-size: 15px;
    }
    #Home .hero .coffee-info .buttons :nth-child(1){
        padding: 10px 20px;
        font-size: 14px;
    }
    #Home .hero .coffee-info .buttons :nth-child(2){
        padding: 10px 20px;
        font-size: 14px;
    }
}
@media (max-width:1150px) {
    #Home .hero .coffee-info h1{
        font-size: 35px;
    }
    #Home .hero .coffee-info h2{
        font-size: 27px;
    }
}
@media (max-width:1000px) {
    #About .container .about-info h2{
        font-size: 28px !important;
    }
    #About .container .about-info p{
        font-size: 16px !important;
    }
    #About .container .about-info{
        width: 50% !important;
        padding: 10px !important;
    }
}
@media (max-width:920px) {
    #Home .hero .coffee-info{
        width: 60% !important;
    }
    #Home .hero .coffee-info h1{
        font-size: 30px;
    }
    #Home .hero .coffee-info h2{
        font-size: 24px;
    }
    #Menu h2{
        font-size: 26px;
    }
}
@media (max-width:825px) {
    #Home #nav ul{
        width: 42%;
    }
    #Home #nav ul li a{
        font-size: 15px;
    }
}
@media (max-width:767px) {
    #About .container .about-info h2{
        font-size: 26px !important;
    }
}
@media (max-width:751px) {
    #Home #nav ul{
        width: 50%;
    }
    footer .links{
        width: 25%;
    }
}
@media (max-width:696px) {
    #Home .hero .coffee-info{
        width: 70% !important;
    }
    #Home #nav ul{
        position: absolute;
        width: 70%;
        height: 100vh;
        background: #30070f;
        flex-direction: column;
        padding: 10vh 0;
        top: 0;
        right: 0;
        transition: 0.3s ease;
        z-index: 100;
        transform: translateX(100%);
    }
    #menu{
        display: block !important;
        scale: 1.2;
    }
}
@media (max-width:659px) {
    #Home .hero{
        flex-direction: column-reverse !important;
    }
    #Home .hero .coffee-info{
        width: 80% !important;
        text-align: center !important;
        align-items: center !important;
    }
    #Home .hero .coffee-info .buttons{
        width: 100% !important;
        align-items: center !important;
        gap: 10px !important;
    }
}
@media (max-width:616px) {
    footer .logo-content{
        width: 70% !important;
    }
}
@media (max-width:610px) {
    #About .container .about-info {
        width: 60% !important;
        padding: 15px !important;
    }
    #About .container .about-info h2 {
        font-size: 21px !important;
    }
    #About .container .about-info p {
        font-size: 13px !important;
    }
    #About .container .about-info .links{
        width: 40%;
    }
}
@media (max-width:511px) {
    #About .container .about-info h2 {
        font-size: 19px !important;
    }
    #About .container .about-info p {
        font-size: 12px !important;
    }
    #About .container .about-info .links a{
        width: 40%;
    }
}
@media (max-width:496px) {
    #Home .hero .coffee-info{
        width: 90% !important;
    }
}
@media (max-width:482px) {
    #About .container{
        flex-direction: column !important;
    }
    #About .container .about-image{
        width: 90% !important;
        margin-bottom: 20px;
    }
    #About .container .about-info{
        width: 90% !important;
        padding: 10px !important;
        text-align: center !important;
        align-items: center !important;
    }
}
@media (max-width:449px) {
    #Home .hero .coffee-info h1{
        font-size: 23px;
    }
    #Home .hero .coffee-info h2{
        font-size: 17px;
    }
}
@media (max-width:353px) {
    #Home .hero{
        padding-inline: 10px;
    }
}
@media (max-width:349px) {
    footer .links{
        width: 50% !important;
    }
    #Home #nav .logo{
        font-size: 20px !important;
    }
}
@media (max-width:330px) {
    #Testimonials .Test-container h2{
        font-size: 28px !important;
    }
}